.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #60a5fa;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* MENU MOBILE */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: #e5e7eb;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: #020617;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
